@import '../../styles/mixins';
@import '../../styles/variables';

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
  padding-top: 72px;
  @include on-tablet {
    flex-direction: row;
    padding-top: 0;
    width: 100%;
  }
  &__list{
    @include on-tablet {
      display: flex;
      gap: 32px;
    }
    @include on-desc {
      gap: 64px;
    }
  }
  &__item{
    margin-bottom: 16px;
    @include on-tablet {
      margin-bottom: 0;
    }
  a{
      font-weight: 800;
      color: $text-light-grey-color;
      font-size: 12px;
      letter-spacing: 4%;
      line-height: 11px;
      text-transform: uppercase;
      padding-bottom: 6px;

      @include on-tablet {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0;
        transition: $duration;
        &:hover {
          border-bottom: 2px solid $primary-grey-color;
          color: $primary-grey-color;

        }
      }
      @include on-desc {
        height: 64px;
      }

    }
  }
  &__actions{
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    position: relative;
    border-top: 1px solid $grey-color;
    &::before {
      content: '';
      background-color: $grey-color;
      grid-row: 1;
      grid-column: 2;
    }
    @include on-tablet {
      grid-template-columns: 48px 1px 48px;
      border-top: none;
      border-left: 1px solid $grey-color;
    }

    @include on-desc {
      grid-template-columns: 64px 1px 64px;
    }
  }
  &__action{
    display: block;
    height: 64px;
    background-repeat: no-repeat;
    background-position: center;

    @include on-tablet {
      height: 48px;
    }

    @include on-desc {
      height: 64px;
    }

    &--favorite{
      background-image: url('/img/favorites.png');
    }
    &--cart{
      background-image: url('/img/cart.png');
    }
  }
  .active{
    border-bottom: 2px solid $primary-grey-color;
    color: $primary-grey-color;
  }
}
