@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.mainSlider{
  margin-left: -16px;
  margin-right: -16px;
  // overflow: hidden;
  @include on-tablet {
    margin: 0 50px;
    position: relative;
  }

  &__block{
    aspect-ratio: 1 / 1;
    background-color: #000;
    @include on-tablet {
      aspect-ratio: 0;
    }
  }
  &__dotes{
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-top: 18px;
  }

}

.swiper-pagination-bullet{
  width: 14px;
  height: 4px;
  background-color: $grey-color;
  border: none;
  cursor: pointer;
  &-active{
    background-color: $primary-grey-color;
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 32px;
  height: 30px;
  background-color: red;
  position: absolute;
  top: 0;
  z-index: 10;
}
.swiper-button-prev{
  left: -50px;
}
.swiper-button-next{
  right: -50px;
}

