@import '../../styles/mixins';
@import '../../styles/variables';

.aside-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #FFF;
  transform: translateX(-100%);
  transition-duration: $duration;
  pointer-events: none;
  overflow: auto;

  @include on-tablet {
    display: none;
  }
}

.aside-menu-active {
  transform: translateX(0);
  pointer-events: all;
}

